/*start global variable*/
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Mulish&display=swap');
:root{
    --color:#000;
    --color1:#fff;
    --color2: #d0c993;
}
/*end global variable*/
/*start global componets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    user-select: none;
    color: var(--color1);
    font-family: 'Mulish', sans-serif;
}
/* end global componets*/
header {
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 34em;
}
header a {
    color: var(--color2);
    text-decoration: none;
    width: 10em;
    height: 5.5em;
}
header a h1{
    margin-bottom: 1em;
    transition: 1s;
    opacity: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    position: relative;
    top: -3em;
}
header img {
    transition: 1s;
    padding: 1em;
    width: 10em;
    height: 5.5em;
}
header a:hover img{ 
    opacity: 0;
    transition: 1s;
}
header a:hover h1 {
    opacity: 1;
}
#bgvideo {
    object-fit: cover;
    filter: brightness(80%);
    z-index: -2;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
}
.text {
    margin: auto;
    width: 100%;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}
nav a{
    font-size: 1.5em;
    color: var(--color2);
}
nav a:hover{
    cursor: pointer;
}
details a{
    display: block;
    height: auto;
}
.explore{
    display: flex;
    justify-content: space-between;
}
details,
.knowledge{
    position: relative;
    top: 2em;
}
.detail{
    visibility: hidden;
    display: flex;
}
details summary{
    width: 76px;
}
summary:focus{
    outline: none;
}
.detail p{
    margin-right: 20px;
}
@media screen and (min-width:320px) and (max-width:1024px) {    
    }    
    .text{
        padding-bottom: 14em;
        padding-top: 5em;
        width: 18em;
    }
@media screen and (max-width:768px) {
    .explore {
        justify-content: space-evenly;
    }
    nav {
        visibility: hidden;
    }
    .detail {
        visibility: visible;
    }
}
    @media screen and (min-width:1026px){
        .text {
            margin: auto;
            width: 37em;
            text-align: center;
        }
    } 
    @media screen and (min-width:295px) and (max-width:430px){
        .explore{
            display: block;
            height: 100px;
        }
        .detail{
            position: relative;
            bottom: 9em;
            left: 10px;
        }
    }
