:root{
    --color:#c7c6c7;
    --color1:#000;
    --color2:#EADCC1    ;
    --color3:#c4d4f8;
    --color4:#b7b4e3;
    --color5: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Interaction.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    color:var(--color5);
}
header {
    height: auto;
    text-align: center;
    margin: auto;
    width: 50%;
}
header p {
    color: var(--color5);
    font-size: 120%;
}
footer p {
    font-size: 125%;
}
header img {
    object-fit: cover;
    filter: brightness(45%);
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    -webkit-filter: brightness(45%);
}
hr {
    background-color: var(--color5);
    color: var(--color5);
    margin: auto;
    width: 60%;
}
footer{
    line-height: 160.2%;
    text-align: justify;
    color: var(--color2);
    display: flex;
    gap: 10vw;
}
article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.top{
    border-radius: 10px;
    border: 2px solid var(--color5);
    width: 100%;
}
.bottom{
    border-radius: 10px;
    border: 2px solid var(--color5);
    width: 100%;
}
article p{
    margin: 1em;
}
aside{
    border-radius: 10px;
    border: 2px solid var(--color5);
    width: 100%;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}
aside p{
    text-align: left;
    margin: 1em;
}
@media screen and (max-width:768px) {
    header {
        width: 100%;
    }
    footer {
        gap: 1em;
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
    }
    article{
        width: 100%;
    }
}
